nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 50px;
    color: blanchedalmond;
  }
  
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

nav li {
    color: blanchedalmond;
}

